
      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center" >
          <ul id="portfolio-flters">

            <!-- All works -->
            <li id="all" class="filter-active">
              <Form id="allworksform" method="POST">
                  <a  type="submit"  name="submit" >All </a>
              </Form>
               <!-- Ajax filter for all works -->
            <script>
    
              $('#all').on('click' , function(e){
    
                e.preventDefault();
    
                  $.ajax({
                    type : "POST",
                      url: "{% url 'Core:worksData' %}",
                      data : {
                        
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        dataType: "json",
                      },
                      success: function (res) {
                        console.log("done");
                        $( '.allWorks' ).html( '&nbsp;' ).load( "{% url 'Core:worksData' %}");
                          
                      }
                  });
            
    
              });  
    
            </script>           
            </li>
              <!-- End all works -->

              <!-- Ajax filter for webdesign -->
              <li id="design">
                <Form  method="POST">
                    <a  type="submit"  name="submit" >Web Design </a>
                </Form>
                 <!-- Ajax filter for all works -->
              <script>
      
                $('#design').on('click' , function(e){
      
                  e.preventDefault();
      
                    $.ajax({
                      type : "POST",
                        url: "{% url 'Core:webDesign' %}",
                        data : {
                          
                          csrfmiddlewaretoken: '{{ csrf_token }}',
                          dataType: "json",
                        },
                        success: function (res) {
                          console.log("webdesign");
                          $( '.allWorks' ).html( '&nbsp;' ).load( "{% url 'Core:webDesign' %}");
                            
                        }
                    });
              
      
                });  
      
              </script>           
              </li>
              <!-- End web design -->

           <!-- Ajax filter for webdesign -->
           <li id="webappliction">
            <Form  method="POST">
                <a  type="submit"  name="submit" >Web Applications </a>
            </Form>
             <!-- Ajax filter for all works -->
          <script>
  
            $('#webapplication').on('click' , function(e){
  
              e.preventDefault();
  
                $.ajax({
                  type : "POST",
                    url: "{% url 'Core:webApplications' %}",
                    data : {
                      
                      csrfmiddlewaretoken: '{{ csrf_token }}',
                      dataType: "json",
                    },
                    success: function (res) {
                      console.log("webApplications");
                      $( '.allWorks' ).html( '&nbsp;' ).load( "{% url 'Core:webApplications' %}");
                        
                    }
                });
          
  
            });  
  
          </script>           
          </li>
          <!-- End web design -->

            <li >
              <a>ERP&CRM System</a>
            </li>

            <li >
              <a>UI&UX </a>
            </li>
            
            <li >
              <a>Grpahic Design</a>
            </li>
            
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" >

        {% for x in allworks  %}
        <div class="col-lg-4 col-md-6 portfolio-item ">
          <div class="portfolio-wrap">
            <img src="{{x.model_image.url}}" style="width: 340px; height:255px"class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{x.name}}</h4>
              <p>{{x.category}}</p>
              <div class="portfolio-links">
                <a href="{{x.model_image.url}}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>