{% extends "base.html" %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block body %}
  <!-- ======= Header ======= -->
  <header id="header" class="header-tops">
    <div class="container">

      <h1><a href="index.html">
      {% if homepage %}
      {{homepage.name}}</a></h1>
      {% endif %}
       
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="/static/assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <h2>I'm a passionate <span>Python Django Developer</span> from Egypt</h2>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#header">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#resume">Resume</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <div class="social-links">
        
        {% if  %}
        <a target="_blank" href="{{homepage.git_hub}}" class="git_hub"><i class="icofont-github"></i></a>
        <a target="_blank" href="{{homepage.linked_in}}" class="linked_in"><i class="icofont-linkedin"></i></a>
        <a target="_blank" href="{{homepage.behance}}" class="behance"><i class="icofont-behance"></i></a>
        <a target="_blank" href="{{homepage.facbook}}" class="facebook"><i class="icofont-facebook" ></i></a>
        <a target="_blank" href="{{homepage.instagram}}" class="instagram"><i class="icofont-instagram" ></i></a>
        {% endif %}
   
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>
      
      {% if about %}
      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{{about.image.url}}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>{{about.job_title}}</h3>
          <p class="font-italic">
            {{about.job_discraption}}
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> {{about.birthday}}</li>
                <li><i class="icofont-rounded-right"></i> <strong>Website:</strong>{{about.website}}</li>
                <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> {{about.phone}}</li>
                <li><i class="icofont-rounded-right"></i> <strong>City:</strong> {{about.city}}</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> {{about.age}}</li>
                <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> {{about.degree}}</li>
                <li><i class="icofont-rounded-right"></i> <strong>PhEmailone:</strong> email@example.com</li>
                <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong>
                    
                    {% if about.freelancer == True %}
                    Available
                    {% else %}
                    Busy
                    {% endif %}

                    </li>
              </ul>
            </div>
          </div>
          <p>
            {{about.my_discraption}}
          </p>
        </div>
      </div>

      {% endif %}
        
     
    </div><!-- End About Me -->

    <!-- ======= Counts ======= -->
    <div class="counts container">

      <div class="row">
        {% if counter %}
        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="icofont-simple-smile"></i>
            <span data-toggle="counter-up">{{counter.happy_client}}</span>
            <p>Happy Clients</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="icofont-document-folder"></i>
            <span data-toggle="counter-up">{{counter.projects}}</span>
            <p>Projects</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="icofont-code"></i>
            <span data-toggle="counter-up">{{counter.courses}}</span>
            <p>Hours Of Courses</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="icofont-certificate"></i>
            <span data-toggle="counter-up">{{counter.certifications}}</span>
            <p>Certifications</p>
          </div>
        </div>
 
        {% endif %}
          
      </div>

    </div><!-- End Counts -->

    <!-- ======= Skills  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row skills-content">

        {% if skills %}
        {% for x in skills  %}
        <div class="col-lg-6">
        <div class="progress">
          <span class="skill">{{x.title}} <i class="val">{{x.avarage}}%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{x.avarage}}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
         </div>
        {% endfor %}
        {% endif %}
          
      </div>

    </div><!-- End Skills -->

    <!-- ======= Interests ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Interests</h2>
      </div>

      <div class="row">
        
        {% if interest %}
        {% for x in interest  %}
        <div class="col-lg-3 col-md-4 mt-4 mt-md-4">
          <div class="icon-box">
            <i class="{{x.icons}}" style="color: #ffbb2c;"></i>
            <h3>{{x.title}}</h3>
          </div>
        </div>
        {% endfor %}
        
        {% endif %}
          
       
       
      </div>

    </div><!-- End Interests -->

    <!-- ======= Testimonials ======= -->

    <!-- <div class="testimonials container">

      <div class="section-title">
        <h2>Testimonials</h2>
      </div>

      <div class="owl-carousel testimonials-carousel">

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="/static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
          <h3>Saul Goodman</h3>
          <h4>Ceo &amp; Founder</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="/static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
          <h3>Sara Wilsson</h3>
          <h4>Designer</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="/static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
          <h3>Jena Karlis</h3>
          <h4>Store Owner</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="/static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
          <h3>Matt Brandon</h3>
          <h4>Freelancer</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="/static/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
          <h3>John Larson</h3>
          <h4>Entrepreneur</h4>
        </div>

      </div>

    </div> -->
    <!-- End Testimonials  -->

  </section><!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          
          {% if sam %}
          <div class="resume-item pb-0">
            <h4>{{sam.title}}</h4>
            <p><em>{{sam.sumary}}</em></p>
            <!-- <p>
            <ul>
              <li>Portland par 127,Orlando, FL</li>
              <li>(123) 456-7891</li>
              <li>alice.barkley@example.com</li>
            </ul>
            </p> -->
          </div>
          {% endif %}
            
          <h3 class="resume-title">Education</h3>
          
          {% if edu %}
          {% for x in edu  %}
          <div class="resume-item">
            <h4>{{x.title}}</h4>
            <h5>{{x.from_date}} - {{x.to_date}}</h5>
            <p><em>{{x.heading}}</em></p>
            <p>{{x.discraption}}</p>
          </div>
          {% endfor %}
         
          {% endif %}
      
        </div>

        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          
          {% if ex %}
                 
          {% for x in ex  %}
          <div class="resume-item">
            <h4>{{x.title}}</h4>
            <h5>{{x.from_date}} - {{x.to_date}}</h5>
            <p><em>{{x.company}}</em></p>
            <p>
              {{x.work_discraption}}
            </p>
          </div>
          {% endfor %}
      
          {% endif %}
       
          
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>My Services</p>
      </div>

      <div class="row">
        
        {% if ser %}
        {% for x in ser  %}
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-4">
          <div class="icon-box">
            <div class="icon"><i class="{{x.icons}}"></i></div>
            <h4><a href="">{{x.title}}</a></h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
        </div>
        {% endfor %}
 
        {% endif %}
      
      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio allWorks" >
    <div class="container">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>My Works</p>
      </div>


      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".Web-Design">Web Design</li>
            <li data-filter=".web-Scraping">Web Scraping</li>
            <li data-filter=".Web-Applications">Web Applications</li>
            <li data-filter=".ERP-CRM">ERP&CRM System</li>
            <li data-filter=".Graphic-Design">Graphic Design</li>
            <li data-filter=".UI-UX">UI&UX</li>
            
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        {% if allworks %}

        {% for x in allworks  %}
        <div class="col-lg-4 col-md-6 portfolio-item {{x.category}}">
          <div class="portfolio-wrap">
            <img src="{{x.model_image.url}}" style="width: 340px; height:255px" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{x.name}}</h4>
              <p>{{x.category}}</p>
              <div class="portfolio-links">
                <a href="{{x.model_image.url}}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="{% url 'Core:workDetaile' x.id %}"  target="_blank" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        {% endif %}
   
      </div>


    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Me</p>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>My Address</h3>
            <p>Mansoura City - Egypt</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Social Profiles</h3>
            <div class="social-links">
              <a target="_blank" href="{{homepage.git_hub}}" class="git_hub"><i class="icofont-github"></i></a>
              <a target="_blank" href="{{homepage.linked_in}}" class="linked_in"><i class="icofont-linkedin"></i></a>
              <a target="_blank" href="{{homepage.behance}}" class="behance"><i class="icofont-behance"></i></a>
              <a target="_blank" href="{{homepage.facbook}}" class="facebook"><i class="icofont-facebook" ></i></a>
              <a target="_blank" href="{{homepage.instagram}}" class="instagram"><i class="icofont-instagram" ></i></a>
              
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Me</h3>
            <p>Mmos7239@Gmail.Com</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Call Me</h3>
            <p>{{about.phone}}</p>
          </div>
        </div>
      </div>

      <form class="Django-email-form mt-4" id="form" method="POST">
      
        <div class="form-row">
          <div class="col-md-6 form-group">
            {{form.name|as_crispy_field }}
            <div class="validate"></div>
          </div>

          <div class="col-md-6 form-group">
            {{form.email|as_crispy_field }}
            <div class="validate"></div>
          </div>
        </div>

        <div class="form-group">
          {{form.subject|as_crispy_field }}
          <div class="validate"></div>
        </div>

        <div class="form-group">
          {{form.message|as_crispy_field }}
          <div class="validate"></div>
        </div>
        
        
        <div class="text-center">
          <button  type="submit" name="submit" >send</button>
          <div style="display: none;" class="alert alert-success alert-dismissible fade show mt-4" id="output" role="alert">
            <strong>Your Message Send Successfully </strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
    

      </form>

      

        
    </div>

    <!-- Ajax for Contente form -->
<script>

  $('#form').on('submit' , function(e){

  e.preventDefault();

    $.ajax({
      type : "POST",
      url : "{% url 'Core:ContactForm' %}",
      data : {
        name : $('#name').val(),
        email : $('#email').val(),
        subject : $('#subject').val(),
        message : $('#message').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        dataType: "json",
      },

      success: function(data){
        $('#output').show(); /* response message */
        $('#name').val('');
        $('#email').val('');
        $('#subject').val('');
        $('#message').val('');
        
     },

     failure: function() {
         
     }


    });


  });

</script>
  </section>
  <!-- End Contact Section -->


{% endblock body %}